@{
    ViewBag.Title = "";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Styles/Home.scss")">
}

@section Scripts {
	<script src="@Url.Content("~/Content/Scripts/Home.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/Scripts/flamebug.PopupPanel.js")" type="text/javascript"></script>
}

<section id="home-hero">

	<article id="hero">

		<div class="intro">

			<h2>Introducing PopChatr</h2>
			<h3>Listen or create entertaining Pop Culture news and share with your friends</h3>

			<a href="https://itunes.apple.com/us/app/intercom.fm/id470463349" target="_blank">
				<!--<img src="/content/images/app-store.svg"/>-->
			</a>

		</div>

		<img src="/content/images/web-hero.png" />

	</article>

</section>

<section id="home-about">

	<div class="container">

		<a class="top" href="#"></a>

		<article id="about-intro">
		
			<div class="intro">

				<h2>What is PopChatr</h2>
				<h3>The best place to Create or Listen to entertaining, :30 second Pop Culture audio</h3>

			</div>

		</article>

		<article id="about-users">

			<ul>
			</ul>

		</article>

		<article id="about-widget">

			<iframe src=""></iframe>

		</article>

	</div>

</section>

<section id="home-story">

	<div class="container">

		<a class="top" href="#"></a>

		<article id="story">

			<div class="intro">

				<h2>Our Story</h2>
				<h3>How PopChatr came to be</h3>

			</div>

			<p>
				We love to be entertained.  Whether it's the funny and entertaining morning shows on radio, the skit comedy found in places like Comedy Central, SNL or websites like Buzzfeed.  We also want something for our ears.  An experience we can take with us anywhere.  On our time.  PopChatr changes the rules of the listening experience.  Whether it's established talents or undiscovered entertainers.  PopChatr is here to deliver a unique pop culture and entertainment listening experience.  You can listen or create right from your phone with an easy to use mix and sound studio.  Try it today.  It's free. 
			</p>

		</article>

	</div>

</section>

<section id="home-listen">

	<div class="container">

		<a class="top" href="#"></a>

		<article id="listen">

			<div class="intro">

				<h2>Listen</h2>
				<h3>Comedy, Sports, Music Scene, Entertainment, Food Reviews or create your own</h3>

			</div>

			<ul>
				<li>Discover amazing and unique radio shows like nothing you’ve ever heard before.</li>
				<li>You customize, control, and listen to shows in a playlist format.  What you want when you want in our :30 second micro show format.</li>
				<li>Multi-track and sound editing features allow for complete customization of your shows or comment on your favorite shows inside the app.</li>
			</ul>

		</article>

		<article id="listen-screenshot">

			<img src="/content/images/web-explore.png">

		</article>

	</div>

</section>

<section id="home-create">

	<div class="container">

		<a class="top" href="#"></a>

		<article id="create-intro">
		
			<div class="intro">

				<h2>Create</h2>
				<h3>Record, customize, and mix your recordings to create your own audio mix to share</h3>

			</div>

		</article>

		<article class="create-step">

			<h4>Record:</h4>
			<p>Record your voice or other sounds from your phone.</p>
			<img src="/content/images/web-record.png">

		</article>

		<article class="create-step">

			<h4>Customize:</h4>
			<p>Make your sounds perfect in the sound effects area.</p>
			<img src="/content/images/web-customize.png">

		</article>

		<article class="create-step">

			<h4>Mix:</h4>
			<p>Mix your different sounds and tracks together.</p>
			<img src="/content/images/web-mix.png">

		</article>

	</div>

</section>

<!--
<section id="home-users">

	<div class="container">

		<article id="used-by">

			<h3>Used By</h3>

			<ul>
				<li><img alt="Picture?type=large" id="user-avatar" src="http://graph.facebook.com/1429446434/picture?type=large"></li>
				<li><img alt="Picture?type=large" id="user-avatar" src="http://graph.facebook.com/572401178/picture?type=large"></li>
				<li><img alt="Picture?type=large" id="user-avatar" src="http://graph.facebook.com/1429446434/picture?type=large"></li>
				<li><img alt="Picture?type=large" id="user-avatar" src="http://graph.facebook.com/1521301203/picture?type=large"></li>
				<li><img alt="Picture?type=large" id="user-avatar" src="http://graph.facebook.com/1429446434/picture?type=large"></li>
				<li><img alt="Picture?type=large" id="user-avatar" src="http://graph.facebook.com/1521301203/picture?type=large"></li>
			</ul>

		</article>
		
	</div>

</section>

-->

<section id="home-video" class="fb-popuppanel" data-show-callback="showVideo" data-hide-callback="hideVideo">

	<iframe id="video" src="http://www.youtube.com/embed/O8s6rmp3BCM?modestbranding=1&autohide=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>

</section>

