@{
    ViewBag.Title = "";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Styles/Home.scss")">
}

@section Scripts {
	<script src="@Url.Content("~/Content/Scripts/Home.js")" type="text/javascript"></script>
}

<section id="home-hero">

	<article id="hero">

		<div class="intro">

			<h2>Introducing Intercom.fm</h2>
			<h3>Be the master of your own sounds right from your mobile phone</h3>

			<a href="https://itunes.apple.com/us/app/intercom.fm/id470463349" target="_blank">
				<img src="/content/images/app-store.svg"/>
			</a>

		</div>

		<img src="/content/images/web-hero.png" />

	</article>

</section>

<section id="home-about">

	<div class="container">

		<article id="about-intro">
		
			<div class="intro">

				<h2>What is Intercom.fm</h2>
				<h3>Discover local celebrities and check out our top users to see what's happening</h3>

			</div>

		</article>

		<article id="about-users">

			<ul>
			</ul>

		</article>

		<article id="about-widget">

			<iframe src=""></iframe>

		</article>

	</div>

</section>

<section id="home-story">

	<div class="container">

		<article id="story">

			<div class="intro">

				<h2>Our Story</h2>
				<h3>How Intercom.fm came to be</h3>

			</div>

			<p>
				Living in Southern California with the amazing music scene of Sublime, Snoop Dogg, and influences from world
				famous radio stations like KROQ & KNAC my brother, Cordell, and I became obsessed with the amazing sounds, special
				effects, and mixing with sound.  That's how Intercom.fm got started. Now you can be a true master of your own sounds
				right from your mobile phone with Intercom.fm. Listen to what others have done with voice, sound effects, and mixes.
				Or create your own. Download now to start experiencing it for yourself. It's easy and free. Try it.
			</p>

		</article>

	</div>

</section>

<section id="home-listen">

	<div class="container">

		<article id="listen">

			<div class="intro">

				<h2>Listen</h2>
				<h3>Explore what local celebrities have to say, or share your own sounds</h3>

			</div>

			<ul>
				<li>Discover local celebrities to follow and get audio updates in our :30 second micro podcast format that you customize, control, and listen to like a playlist.</li>
				<li>Multi-track and sound editing features allow for complete customization of your audio posts.</li>
			</ul>

		</article>

		<article id="listen-screenshot">

			<img src="/content/images/web-explore.png">

		</article>

	</div>

</section>

<section id="home-create">

	<div class="container">

		<article id="create-intro">
		
			<div class="intro">

				<h2>Create</h2>
				<h3>Record, customize, and mix your recordings to create your own audio mix to share</h3>

			</div>

		</article>

		<article class="create-step">

			<h4>Record:</h4>
			<p>Record your voice or other sounds from your phone.</p>
			<img src="/content/images/web-record.png">

		</article>

		<article class="create-step">

			<h4>Customize:</h4>
			<p>Make your sounds perfect in the sound effects area.</p>
			<img src="/content/images/web-customize.png">

		</article>

		<article class="create-step">

			<h4>Mix:</h4>
			<p>Mix your different sounds and tracks together.</p>
			<img src="/content/images/web-mix.png">

		</article>

	</div>

</section>

<!--
<section id="home-users">

	<div class="container">

		<article id="used-by">

			<h3>Used By</h3>

			<ul>
				<li><img alt="Picture?type=large" id="user-avatar" src="http://graph.facebook.com/1429446434/picture?type=large"></li>
				<li><img alt="Picture?type=large" id="user-avatar" src="http://graph.facebook.com/572401178/picture?type=large"></li>
				<li><img alt="Picture?type=large" id="user-avatar" src="http://graph.facebook.com/1429446434/picture?type=large"></li>
				<li><img alt="Picture?type=large" id="user-avatar" src="http://graph.facebook.com/1521301203/picture?type=large"></li>
				<li><img alt="Picture?type=large" id="user-avatar" src="http://graph.facebook.com/1429446434/picture?type=large"></li>
				<li><img alt="Picture?type=large" id="user-avatar" src="http://graph.facebook.com/1521301203/picture?type=large"></li>
			</ul>

		</article>
		
	</div>

</section>

-->