//
//=========================================
//Global
//=========================================
//

//
// Structural Grid
//

$line-height:  1.625;									//setting(flamebug/UI/Typography/LineHeight);
$column-width: 48;										//setting(flamebug/UI/Grid/Column);
$gutter-width: 24;										//setting(flamebug/UI/Grid/Gutter);

//
// Typographic Grid
//

$body-font-size: 100;									//setting(flamebug/UI/Typography/BodyFontSize);
$h1-font-size: 3;										//setting(flamebug/UI/Typography/H1FontSize);
$h2-font-size: 2.25;									//setting(flamebug/UI/Typography/H2FontSize);
$h3-font-size: 1.5;										//setting(flamebug/UI/Typography/H3FontSize);
$h4-font-size: 1.25;									//setting(flamebug/UI/Typography/H4FontSize);
$h5-font-size: 1.125;									//setting(flamebug/UI/Typography/H5FontSize);
$h6-font-size: 1;										//setting(flamebug/UI/Typography/H6FontSize);
$mono-font-size: 1;										//setting(flamebug/UI/Typography/MonoFontSize);
$body-font-smoothing: subpixel-antialiased;				//setting(flamebug/UI/Typography/BodySmoothing);
$body-text-rendering: optimizeLegibility;				//setting(flamebug/UI/Typography/BodyRendering);
$mono-font-family: monospace;							//setting(flamebug/UI/Typography/MonoFontFamily);
$body-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;	//setting(flamebug/UI/Typography/BodyFontFamily);
$header-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;	//setting(flamebug/UI/Typography/HeaderFontFamily);

//
// Common Styles
//

$border-color: #ddd;