/*
=========================================
flamebug:Badge
=========================================
*/

.fb-badge {
	position: absolute;
	top: -12px;
	right: -12px;
	overflow: visible;
	padding: 0 .5em;
	
	background: #b50000; /* Old browsers */
	background: -moz-linear-gradient(top,  #b50000 0%, #850000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b50000), color-stop(100%,#850000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b50000 0%,#850000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b50000 0%,#850000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b50000 0%,#850000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b50000 0%,#850000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b50000', endColorstr='#850000',GradientType=0 ); /* IE6-9 */

	border: 3px solid white;
	border-radius: 1.25em;
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);

	color: #FFF;
	text-decoration: none;
	text-shadow: none;
	font-size: 10px;
	font-family: Arial, sans-serif;
	font-weight: bold;
}