/*
=========================================
flamebug:PopupPanel
=========================================
*/

.fb-popuppanel {
	display: none;
	position: absolute;
	background-color: #000;
	background-color: rgba(0,0,0,0.95);
	padding: .75em;

	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 0 50px rgba(0,0,0,0.75);
	-o-box-shadow: 0 0 50px rgba(0,0,0,0.75);
	-ms-box-shadow: 0 0 50px rgba(0,0,0,0.75);
	box-shadow: 0 0 50px rgba(0,0,0,0.75);

	color: #222;
	z-index: 1101;

	text-align: left;
}

.fb-popuppanel-close {
	display: block;
	position: absolute;
	top: -15px;
	right: -15px;
	height: 30px;
	width: 30px;
	background-image: url('/content/images/controls/fb-popuppanel-close.png');
	cursor: pointer;
	z-index: 1102;
}

.fb-popuppanel-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1100;
	background: #000;
	opacity: 0.5;
	display: none;
	cursor: pointer;
}
